@import url();
*{
    margin: 0;
    padding: 0;
	/*font-family: 'poppin',sans-serif;*/
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100;
	background: url(../img/login.jpg)no-repeat;
	background-position: center;
	background-size: cover;
}
.form-box{
	position: relative;
	width: 500px;
	height: 550px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
}
h2{
	font-size: 2em;
	color: #fff;
	text-align: center;
}
p{
    color: #fff;
	text-align: center;
}
.inputbox{
	position: relative;
	margin: 30px 0;
	width: 310px;
	border-bottom: 2px solid #fff;
}
.inputbox label{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 1em;
	pointer-events: none;
	transition: .5s;
}
input:focus ~ label,
input:focus ~ :valid{
	top: -5px;
}
.inputbox input{
	width: 100%;
	height: 50px;
	background: transparent;
	border:  none;
	outline: none;
	font-size: 1em;
	padding:0 35px 0 5px;
	color: #fff;
}
.inputbox ion-icon{
	position: absolute;
	right: 8px;
	color: #fff;
	font-size: 1.2em;
	top: 20px;
}
button{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}
#banner img {
	position: absolute;
	top: 0;
    left: 0;
}
.login{
    font-size: .9em;
	color: #fff;
	text-align: center;
	margin: 25px 0 10px;
}
.login p a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}